<!DOCTYPE html>
<html>
	<head>
	    <title>HACK Approve Leaves</title>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}">
	    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
	</head>
	<body>
		<header>
			<th:block th:include="fragments/layout :: header" />
		</header>
        <div class="main-content">
			<div class="main-image">
				<img th:src="@{/images/HACK_image1.png}" />
			</div>
			<div class="details">
				<h2 class="heading">Leaves To Approve</h2>
				<table>
					<thead>
						<tr>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Reason</th>
							<th>Approve</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="leave : ${leaves}">
							<td th:text="${leave.startDate}"></td>
							<td th:text="${leave.endDate}"></td>
							<td th:text="${leave.reason}"></td>
							<td>
								<form
									th:action="'/leaves/approve/' + ${leave.id}"
									method="POST"
								>
									<button type="submit">Approve</button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
        </div>
        <footer>
			<th:block th:include="fragments/layout :: footer" />
        </footer>
	</body>
</html>
