<!DOCTYPE html>
<html>
	<head>
	    <title>HACK User Leaves</title>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}">
	    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
	</head>
	<body>
		<header>
			<th:block th:include="fragments/layout :: header" />
		</header>
        <div class="main-content">
			<div class="main-image">
				<img th:src="@{/images/HACK_image1.png}" />
			</div>
			<div class="details">
				<h2
					class="heading"
					th:text="${approved==null ? 'Applied Leaves' : (approved ? 'Approved Leaves' : 'Pending Leaves')}"
				></h2>
				<table>
					<thead>
						<tr>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Reason</th>
							<th>Status</th>
							<th>Approver</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="leave : ${leaves}">
							<td th:text="${leave.startDate}"></td>
							<td th:text="${leave.endDate}"></td>
							<td th:text="${leave.reason}"></td>
							<td th:text="${leave.approved ? 'Approved' : 'Pending Approval'}"></td>
							<td th:text="${leave.approver.username}"></td>
						</tr>
					</tbody>
				</table>
			</div>
        </div>
        <footer>
			<th:block th:include="fragments/layout :: footer" />
        </footer>
	</body>
</html>
