<!DOCTYPE html>
<html>
	<head>
	    <title>HACK Leave Application</title>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}">
	    <link rel="stylesheet" type="text/css" th:href="@{/css/applyLeave.css}">
	</head>
	<body>
        <header>
			<th:block th:include="fragments/layout :: header" />
        </header>
		<div class="apply-form">
			<h1>Create Meeting</h1>
			<form action="/meetings/apply" method="POST">
				<label for="startTime">Start Time</label>
				<input type="datetime-local" name="startTime" placeholder="Start Time" required>
				<label for="endTime">End Time</label>
				<input type="datetime-local" name="endTime" placeholder="End Time" required>
				<label for="title">Title</label>
				<input type="text" name="title" placeholder="Title" required>
				<label for="participants">Participants (Write Username seperated by comma ',')</label>
				<input type="text" name="participants" placeholder="Participants" required>
				<input type="submit">
			</form>
		</div>
        <footer>
			<th:block th:include="fragments/layout :: footer" />
        </footer>
	</body>
</html>
