body{
     font-family: verdana;
}*{
   margin:0;
   padding:0;
}
header,footer{
   position: absolute;
   background-color:rgb(106, 90, 205);
   width:100%;
   color:black;
}
header{
display:flex;
justify-content: space-between;
padding: 2vh 10%;
   height: 10vh;
}
footer{
   height: 10vh;
   bottom:0;
}
footer h2{
position: absolute;
left:45%;
}
.nav{
    position: absolute;
    width:100%;
}

footer p{
     position: absolutr;
     left:48%;
     bottom:40px;
     color:black;
}

