<!DOCTYPE html>
<html>
	<head>
	    <title>HACK</title>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}">
	    <link rel="stylesheet" type="text/css" th:href="@{/css/initialData.css}">
	</head>
	<body>
		<header>
			<th:block th:include="fragments/layout :: header" />
		</header>
        <div class="main-content">
			<div class="main-image">
				<img th:src="@{/images/HACK_image1.png}" />
			</div>
			<div class="form">
				<h1>Add New Project Employees</h1>
				<form
					action="/hr/project/add-employees"
					method="POST"
					enctype="multipart/form-data"
				>
					<div class="file-input-group">
						<p>Upload Employees Data Excel File</p>
						<input type="file" name="file" required>
					</div>
					<input type="submit">
				</form>
			</div>
        </div>
        <footer>
			<th:block th:include="fragments/layout :: footer" />
        </footer>
	</body>
</html>
