<!DOCTYPE html>
<html>
	<head>
	    <title>HACK</title>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}">
	    <link rel="stylesheet" type="text/css" th:href="@{/css/portal.css}">
	</head>
	<body>
		<header>
			<th:block th:include="fragments/layout :: header" />
		</header>
        <div class="main-content">
			<div class="main-image">
				<img th:src="@{/images/HACK_image1.png}" />
			</div>
			<div class="details">
				<div class="project">
					<h2 class="heading">Edit Project Details</h2>
					<form
						action="/hr/edit-project"
						method="POST"
						class="project-form"
					>
						<div class="row">
							<h4>Project Name</h4>
							<div class="input-div">
								<input
									type="text"
									name="name"
									placeholder="Name"
									th:value="${project.name}"
									disabled
								/>
							</div>
						</div>
						<div class="row">
							<h4>Project Unit</h4>
							<div class="input-div">
								<input
									type="text"
									name="unit"
									placeholder="Project Unit"
									th:value="${project.unit}"
									disabled
								/>
							</div>
						</div>
						<div class="row">
							<h4>Location</h4>
							<div class="input-div">
								<input
									type="text"
									name="location"
									placeholder="Location"
									th:value="${project.location}"
									required
								/>
							</div>
						</div>
						<div class="row">
							<h4>Customer</h4>
							<div class="input-div">
								<input
									type="text"
									name="customer"
									placeholder="Customer"
									th:value="${project.customer}"
									disabled
								/>
							</div>
						</div>
						<div class="submit-button">
							<input type="submit" />
						</div>
					</form>
				</div>
			</div>
        </div>
        <footer>
			<th:block th:include="fragments/layout :: footer" />
        </footer>
	</body>
</html>
