<!DOCTYPE html>
<html>
	<head>
	    <title>HACK</title>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}">
	    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
	</head>
	<body>
		<header>
			<th:block th:include="fragments/layout :: header" />
		</header>
        <div class="main-content">
			<div class="main-image">
				<img th:src="@{/images/HACK_image1.png}" />
			</div>
			<div class="details">
				<h2 class="heading" th:text="${employee.username} + ' Employee Updates'"></h2>
				<table>
					<thead>
						<tr>
							<th>Date</th>
							<th>Description</th>
							<th>Duration</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="update : ${employeeUpdates}">
							<td th:text="${update.date}"></td>
							<td th:text="${update.description}"></td>
							<td th:text="${update.duration}"></td>
						</tr>
					</tbody>
				</table>
			</div>
        </div>
        <footer>
			<th:block th:include="fragments/layout :: footer" />
        </footer>
	</body>
</html>
