<!DOCTYPE html>
<html>
	<head>
	    <title>HACK</title>
	    <link rel="stylesheet" type="text/css" th:href="@{/css/layout.css}">
	    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
	</head>
	<body>
        <header>
			<th:block th:include="fragments/layout :: header" />
        </header>
		<div class="login-form">
			<h1>Reset Password Form</h1>
			<form action="/auth/reset-password" method="POST">
				<input type="text" name="username" placeholder="Username" required>
				<input type="email" name="email" placeholder="Email" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>
		</div>
        <footer>
			<th:block th:include="fragments/layout :: footer" />
        </footer>
	</body>
</html>
